header#header.header.fixed-top.d-flex.align-items-center
  .container.d-flex.align-items-center.justify-content-between
    a.logo.d-flex.align-items-center.me-auto.me-lg-0(href='/admin')
      img(src="images/logo.png" alt="")
      h1
        | Express
        span .
    nav#navbar.navbar
      ul
        li
          a.mx-5(href='/resi') Shipping Order
        li
          a.mx-5(href='/ongkir') Pengiriman
    .dropdown
      a.logo(href='#')
        img(src="images/profile-pictures/default.jpg" alt="")
      button.btn.btn-secondary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')= userName
      ul.dropdown-menu
        li
          a.dropdown-item(href='/logout') Logout

    //- a.btn-sign-in.px-5(data-bs-toggle="modal" data-bs-target="#loginModal") Sign In
    i.mobile-nav-toggle.mobile-nav-show.bi.bi-list
    i.mobile-nav-toggle.mobile-nav-hide.d-none.bi.bi-x