footer#footer.footer
    .container
      .row.gy-3
        .col-lg-3.col-md-6.d-flex
          i.bi.bi-geo-alt.icon
          div
            h4 Address
            p
              | Jl. Cikutra 
              br
              |               Bandung, Jawa Barat - Indonesia
              br
        .col-lg-3.col-md-6.footer-links.d-flex
          i.bi.bi-telephone.icon
          div
            h4 Call Center
            p
              strong Phone:
              |  +62 5589 55488 55
              br
              strong Email:
              |  info@j2fexpress.com
              br
        .col-lg-3.col-md-6.footer-links.d-flex
          i.bi.bi-clock.icon
          div
            h4 Opening Hours
            p
              strong Mon-Thu, Sat-Sun: 
              |  08AM - 23PM
              br
              |               Fri: Closed
        .col-lg-3.col-md-6.footer-links
          h4 Follow Us
          .social-links.d-flex
            a.twitter(href='#')
              i.bi.bi-twitter
            a.facebook(href='#')
              i.bi.bi-facebook
            a.instagram(href='#')
              i.bi.bi-instagram
            a.linkedin(href='#')
              i.bi.bi-linkedin
    .container
      .copyright
        | © Copyright 2022 
        strong
          span J2F Express
        | . All Rights Reserved