extends layout

block content
  section#resi.hero.d-flex.align-items-center.section-bg
    .container
      .row.justify-content-between.gy-5
        .col-lg-5.order-2.order-lg-1.d-flex.flex-column.justify-content-center.align-items-center.align-items-lg-start.text-center.text-lg-start
          h2(data-aos='fade-up')
            | Kirim Mudah
            br
            | Hati Senang
          p(data-aos='fade-up' data-aos-delay='100')
            | Mengirim barang menggunakan J2F. akan mempermudah mu karena memiliki pelayanan bintang lima
          .d-flex(data-aos='fade-up' data-aos-delay='200')
            a.btn-sign-in(data-bs-toggle="modal" data-bs-target="#loginModal") Kirim Paket Sekarang
            //- a.glightbox.btn-watch-video.d-flex.align-items-center(href='https://gitlab.com/frinaldisyauqi/ekpedisi-paw')
              //- i.bi.bi-play-circle
              //- span Watch Video
        .col-lg-5.order-1.order-lg-2.text-center.text-lg-start
          img.img-fluid(src='images/main-kurir.png' alt='' data-aos='zoom-out' data-aos-delay='300')