header#header.header.fixed-top.d-flex.align-items-center
  .container.d-flex.align-items-center.justify-content-between
    a.logo.d-flex.align-items-center.me-auto.me-lg-0(href='/')
      img(src="images/logo.png" alt="")
      h1
        | Express
        span .
    nav#navbar.navbar
      ul
        li
          a.mx-5(href='/resi') Cek Resi
        li
          a.mx-5(href='/ongkir') Cek Ongkir
        li
          a.mx-5(href='/contact') Contact
    a.btn-sign-in.px-5(data-bs-toggle="modal" data-bs-target="#loginModal") Sign In
    i.mobile-nav-toggle.mobile-nav-show.bi.bi-list
    i.mobile-nav-toggle.mobile-nav-hide.d-none.bi.bi-x