#loginModal.modal.fade(tabindex='-1' aria-labelledby='loginModalLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h1#loginModalLabel.w-100.modal-title.fs-5.text-center Sign in
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        section#menu.menu.py-0
          .container(data-aos="fade-up")
            nav
              h2.w-100.text-center.fs-6 Sign in sebagai :
              #nav-tab.nav.nav-tabs.d-flex.justify-content-center(role='tablist' data-aos='fade-up' data-aos-delay='200')
                button#nav-manager-tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#nav-manager' type='button' role='tab' aria-controls='nav-manager' aria-selected='true') Admins
                button#nav-customer-tab.nav-link(data-bs-toggle='tab' data-bs-target='#nav-customer' type='button' role='tab' aria-controls='nav-customer' aria-selected='false') Customers
              #nav-tabContent.tab-content
                #nav-manager.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='nav-manager-tab' tabindex='-1')
                  form#managers.d-flex.flex-column.justify-content-center(action="/login-admin", method="post") 
                    label.form-label.p-2(for="E-Mail") 
                    input#email.p-2.rounded.border.border-1(type="text" name="email" placeholder="E-Mail" required)
                    label.form-label.p-2(for="password") 
                    input#password.p-2.rounded.border.border-1(type="password" name="pass" placeholder="Password" required)
                    label.form-label.p-2(for="Cabang Code") 
                    input#cabangKode.p-2.rounded.border.border-1(maxlength="8" type="text" name="cabangKode" placeholder="Kode Cabang" required)
                    input.mt-3.btn-sign-in.text-center.rounded(type='submit' value="Sign in")
                #nav-customer.tab-pane.fade(role='tabpanel' aria-labelledby='nav-customer-tab' tabindex='-1')
                  form#customers.d-flex.flex-column.justify-content-center(action="/login", method="POST") 
                    label.form-label.p-2(for="E-Mail") 
                    input#email.p-2.rounded.border.border-1(type="email" name="email" placeholder="E-Mail" required)
                    label.form-label.p-2(for="password") 
                    input#password.p-2.rounded.border.border-1(type="password" name="pass" placeholder="Password" required)
                    input.my-3.btn-sign-in.text-center.rounded(type='submit' value="Sign in")
                    .modal-footer
                      p Tidak punya akun ? 
                        a(href="#registerModal" data-bs-toggle="modal") Register
            if pesanFlash
                div(class="alert alert-${colorFlash} alert-dismissible fade show mt-3" role="alert")
                strong= statusFlash
                p= pesanFlash
                button.close(type='button' data-dismiss='alert' aria-label='Close')
                  span(aria-hidden='true') ×

#registerModal.modal.fade(aria-hidden='true' aria-labelledby='registerModalLabel' tabindex='-1')
  .modal-dialog
    .modal-content
      .modal-header
        h1#registerModalLabel.w-100.modal-title.fs-5.text-center Register
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        form#customers.d-flex.flex-column.justify-content-center(action="/save", method="POST") 
          label.form-label.p-2(for="E-Mail") 
          input#email.p-2.rounded.border.border-1(type="email" name="email" placeholder="E-Mail" required)
          label.form-label.p-2(for="Nama") 
          input#nama.p-2.rounded.border.border-1(type="text" name="username" placeholder="Nama" required)
          label.form-label.p-2(for="password") 
          input#password.p-2.rounded.border.border-1(type="password" name="pass" placeholder="Password" required)
          input.my-3.btn-sign-in.text-center.rounded(type='submit' value="Register")
      .modal-footer