doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0' name='viewport')
    title= title
    meta(content='' name='description')
    meta(content='' name='keywords')
    // Favicons
    link(href='images/logo.png' rel='icon')
    link(href='images/apple-touch-icon.png' rel='apple-touch-icon')
    // Google Fonts
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap' rel='stylesheet')
    // Vendor CSS Files
    link(href='vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
    link(href='vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
    link(href='vendor/aos/aos.css' rel='stylesheet')
    link(href='vendor/glightbox/css/glightbox.min.css' rel='stylesheet')
    link(href='vendor/swiper/swiper-bundle.min.css' rel='stylesheet')
    // Template Main CSS File
    link(href='stylesheets/main.css' rel='stylesheet')
  body
    include header
    block content
    include ../footer

    a.scroll-top.d-flex.align-items-center.justify-content-center(href='#')
      i.bi.bi-arrow-up-short
    #preloader
    // Vendor JS Files
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
    script(src='vendor/aos/aos.js')
    script(src='vendor/glightbox/js/glightbox.min.js')
    script(src='vendor/purecounter/purecounter_vanilla.js')
    script(src='vendor/swiper/swiper-bundle.min.js')
    script(src='vendor/php-email-form/validate.js')
    // Template Main JS File
    script(src='javascripts/main.js')
